/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
    font-family: system-ui, sans-serif;
    font-weight: normal;;

    --dark-theme: #787abc;
    --light-theme: #edecfa;
    --dark-background: #dfc395;
    --light-background: #f4e1c4;
    --lighter-background: #fff4e4;
    --highlight: #f4d162;

    --light-bg-filter: brightness(0) saturate(100%) invert(87%) sepia(6%) saturate(960%) hue-rotate(329deg) brightness(108%) contrast(108%);
    --dark-theme-filter: brightness(0) saturate(100%) invert(50%) sepia(18%) saturate(993%) hue-rotate(200deg) brightness(95%) contrast(90%);
    
    --default-padding: 1.5rem
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    color: var(--light-theme);
    display: flex;
    background: var(--dark-theme);
    flex: none;

    & .logo {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: var(--default-padding);
        font-size: 1.5rem;

        & img {
            height: 3rem;
            filter: var(--light-bg-filter);
        }
    } 
}

.main {
    background: var(--lighter-background);
    flex: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.gameboard-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
}

.gameboard {
    aspect-ratio: 1/1;
    min-width: max(50%, 500px);
    max-width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 25px;
    background-color: var(--light-theme);
}

.cell {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--dark-theme);
    cursor: pointer;

    font-size: 42px;
    color: var(--dark-theme);

    & .icon {
        height: 90%;
        filter: var(--dark-theme-filter);
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
        border-top: none;
    };

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(7) {
        border-left: none;
    };

    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9) {
        border-right: none;
    };

    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
        border-bottom: none;
    };
}

.side-panel {
    background: var(--light-background);
    padding: var(--default-padding);
    border-radius: 25px;
    margin: 0.5rem;
    margin-right: 20%;

    display: flex;
    flex-direction: column;
}

.score {
    border-bottom: 2px solid var(--dark-background);
    text-align: center;
    font-size: 2rem;
}

.scores {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & div {
        padding: var(--default-padding);
        font-size: 2.5rem;
    }
}

.p1, .p2 {
    display: flex;
    flex-direction: column;

    & span {
        font-size: 1.2rem;
    }
}

.players-input {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

input[type='text'] {
    background: var(--lighter-background);
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
}

.submit-btn {
    background: var(--dark-background);
    width: 90%;
    text-align: center;
    padding: 0.5rem var(--default-padding);
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 1rem;
    cursor: pointer;
}

.buttons {
    margin-top: auto;
    display: grid;
    text-align: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;

    & div {
        padding: var(--default-padding);
        border-radius: 1.5rem;
        text-transform: uppercase;
        cursor: pointer;
    }

    & .start {
        background: var(--highlight);
    }

    & .reset {
        background: var(--dark-theme);
    }
}

.footer {
    background: var(--light-theme);
    flex: none;
    text-align: center;
    padding: 1rem;
}